<h2><small>EXPLAIN FUNCTIONALITY OF WEBSITE</small></h2>


<div class="row">
  <div class="col-md-4">
    <h2><strong>Step 1</strong></h2>
    <h2><small>AAA Check out cars. AAA</small></h2>
      <div class="row">
        <p></p>
      </div>
    <div class="row">
      <div class="col-md-4">
        <%= link_to "View The Cars", "/cars", "class" => "btn btn-lg btn-danger" %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h2><strong>Step 2</strong></h2>
    <h2><small>AAA Fill out journal. AAA</small></h2>
      <div class="row">
        <p></p>
      </div>
    <div class="row">
      <div class="col-md-4">
        <%= link_to "Fill Out My Journal", "/trips", "class" => "btn btn-lg btn-warning" %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h2><strong>Step 3</strong></h2>
    <h2><small>AAA Use help me choose tool. AAA</small></h4>
      <div class="row">
        <p></p>
      </div>
    <div class="row">
      <div class="col-md-4">
        <%= link_to "Help Me Choose!", "/users", "class" => "btn btn-lg btn-success" %>
      </div>
    </div>
  </div>

</div>
