<div class="row">
  <div class="col-sm-4">
    <%= image_tag "http://www.yourenergyblog.com/wp-content/uploads/2013/02/electric-vehicle-industry.png" %>
  </div>

  <div class="col-sm-8">
    <div class="jumbotron">
      <h4><strong>Welcome!</strong> This tool was designed to help prospective electric vehicle purchasers understand which models are best suited to their individual driving patterns. Follow the steps below to decide which EV is right for you.</h4>
      <h4>After you record 7 consecutive days or more of driving history in your journal, the EV chooser will provide personalized information about how each of our featured EVs would perform for you. <strong>The more days you include, the better!</strong></h4>
      <h4>You can also post reviews of each vehicle to share your thoughts with others. <strong>Happy driving!</strong></h4>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-4">
    <h2><strong>Step 1</strong></h2>
    <h2><small>Learn about our featured vehicles.</small></h2>
      <div class="row">
        <p></p>
      </div>
    <div class="row">
      <div class="col-sm-4">
        <%= link_to "View The Cars", "/cars", "class" => "btn btn-lg btn-danger" %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <h2><strong>Step 2</strong></h2>
    <h2><small>Track your driving for 7 days or more.</small></h2>
      <div class="row">
        <p></p>
      </div>
    <div class="row">
      <div class="col-sm-4">
        <%= link_to "Fill Out My Journal", "/trips", "class" => "btn btn-lg btn-warning" %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <h2><strong>Step 3</strong></h2>
    <h2><small>Find the best vehicle for your needs.</small></h4>
      <div class="row">
        <p></p>
      </div>
    <div class="row">
      <div class="col-sm-4">
        <%= link_to "Help Me Choose!", "/users", "class" => "btn btn-lg btn-success" %>
      </div>
    </div>
  </div>
</div>
