<h1>Daily Miles Driven</h1>

<% the_user = User.find_by("username" => "antsyalex") %>

<table frame="border" rules="all" cellpadding="5" width="500">
  <tr>
    <td><strong>Day of the Week</strong></td>
    <td><strong>Miles Driven</strong></td>
  </tr>

  <% Trip.where("user_id" => the_user["id"]).each do |the_trip| %>
    <tr>
      <td><%= the_trip["day"] %></td>
      <td><%= the_trip["miles"] %></td>
    </tr>
  <% end %>
</table>

<p><strong><%= link_to "Update Miles Driven", "/trips/edit" %></p></strong>
